<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" />
    </ion-buttons>
    <ion-title>Configuraciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configuraciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Permitir eliminación de citas</ion-label>
    <ion-toggle [(ngModel)]="habilitado" (ionChange)="toggleEliminar()"></ion-toggle>
  </ion-item>
</ion-content>
